@inject Data.MainDbContext DbContext
@inject IJSRuntime JSRuntime
@inject IEmailService EmailService
@page "/"

<PageTitle>Kolb's "Learning Style" Test</PageTitle>



<div class="center-container">
	<h1>
		Kolbs lärstilar: testa din inlärningsstil
	</h1>
	<br />
	
	<p>
		David Kolb introducerade sin modell av inlärningsstilar år 1984. Baserat på denna modell utvecklade han ett inventarium över inlärningsstilar. Kolbs teori om erfarenhetsbaserat lärande presenteras på två plan: en fyrfasig lärandecykel och fyra unika inlärningsstilar. En väsentlig del av Kolbs teori fokuserar på den enskilda individens interna kognitiva processer. Kolb argumenterar för att lärande innebär förvärvandet av abstrakta begrepp, vilka kan appliceras flexibelt över en mängd olika situationer. Enligt Kolb utgörs grunden för utvecklingen av nya begrepp av våra nya erfarenheter. (https://www.simplypsychology.org/learning-kolb.html) 
	</p>
	
	<SurveyPrompt Title="“Learning is the process whereby knowledge is created through the transformation of experience” (Kolb, 1984, p. 38).“" />
	<br />
	<NavLink class="nav-link" href="Instruction">
		<button class="btn btn-primary" @*@onclick="StartTest" *@> <b>STARTA TESTET</b></button>
	</NavLink>
</div>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "saveResultToDb", "False");
		}
	}
}

<style>
	

	.center-container {
		padding: 220px;
		margin-top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 67vh;
		text-align: center; 
		margin-bottom: 30px;
	}

</style>


