@inject Data.MainDbContext DbContext
@inject IJSRuntime JSRuntime
@page "/"


<PageTitle>Kolb's "Learning Style" Test</PageTitle>

@* <div class="font-example"> *@


<div class="center-container">
        <h1>
            Kolbs lärstilar: testa din inlärningsstil
        </h1>
    <br />
    
   
            @*<img class="main-image" src="/NewFolder/jess-bailey.jpg" alt="You Learning Style Image" />*@
    
        

    <p>
        David Kolb published his learning styles model in 1984, from which he developed his learning style inventory.
        Kolb’s experiential learning theory works on two levels: a four-stage cycle of learning and four separate learning styles.
        Much of Kolb’s theory is concerned with the learner’s internal cognitive processes.
        Kolb states that learning involves the acquisition of abstract concepts that can be applied flexibly in a range of situations.
        In Kolb’s theory, the impetus for the development of new concepts is provided by new experiences.
    </p>

    <SurveyPrompt Title="“Learning is the process whereby knowledge is created through the transformation of experience” (Kolb, 1984, p. 38).“" />
    <br />

    

        <NavLink class="nav-link" href="SaveResults">
            <button class="btn btn-primary" @*@onclick="StartTest" *@>STARTA TESTET</button>
        </NavLink>
    
   
    
    

</div>
<footer>
    <div class="subscribe-form">
        @*<div>
            <h3>Subscribe to Our Newsletter</h3>
            <p>Stay up to date with our latest news and updates.</p>
        </div>*@
        
        <div>
        <form @onsubmit="Subscribe">
                <input type="email" placeholder="Enter your email" @bind="viewModel.EmailAddress" />
            <button type="submit">SUBSCRIBE</button>
            
                
        </form>
            
        </div>

        <div>
            @if (emailSubmitted)
            {
                <p class="success-message">Email submitted successfully!</p>
            }
        </div>

        
    </div>
	@*<p>&copy; 2023 Kolb's "Learning Style" Test App. All rights reserved.</p>*@
</footer>

@code {
    private EmailAddressModel viewModel = new EmailAddressModel();
    private bool emailSubmitted = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "saveResultToDb", "False");
        }
    }

    private async Task Subscribe()
    {
        if (!string.IsNullOrWhiteSpace(viewModel.EmailAddress))
        {
            // Save the email to the database
            DbContext.SendList.Add(new EmailAddressModel { EmailAddress = viewModel.EmailAddress });
            await DbContext.SaveChangesAsync();

            // Clear the form after successful submission
            viewModel.EmailAddress = string.Empty;

            emailSubmitted = true;
        }
    }
}



<style>

   /* .font-example {
        font-family: 'MentiDisplay-Regular';
    }*/

    .main-image
    {
        /*border: 1px solid black;
        padding: 10px;*/
        height: 400px;
        width: 600px;
    }

    .center-container {
        padding: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 78vh; /* This will center-align vertically by using the full viewport height */
        text-align: center; /* This will center-align the text horizontally */
        /*font-family: 'Sitka Display';*/
    }

    

    footer {
        background-color: white;
        padding-top: 10px;
        text-align: center;
        width: auto;
        /*border-width: thin;
        border-color: black;*/
        /*border: solid 1px;*/
        /*border-radius: 0.2rem;*/
    }



    footer p {
            color: #333;
            
    }


    .subscribe-form {

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        /*justify-content: space-around;*/
        margin-top: 10px;
        margin-bottom: -10px;
       /* margin-right: 50px;*/
        text-align: center;
    }

        .subscribe-form h3 {
            margin-bottom: -8px;
        }

        .subscribe-form input[type="email"] {
            padding: 3px;
            width: 210px;
            height: 25px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
            margin-left: 60px;
            margin-top: 5px;
            margin-bottom: 25px;
        }

        .subscribe-form button[type="submit"] {
            padding: 4px 12px;
            background-color: #2ab083;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

    .success-message {
        color: green;
        margin-bottom: 27px;
        margin-left: 15px;
    }

</style>