@inject Data.MainDbContext DbContext
@inject IJSRuntime JSRuntime
@inject IEmailService EmailService
@page "/"

<PageTitle>Kolb's "Learning Style" Test</PageTitle>

@* <div class="font-example"> *@

<div class="center-container">

  
        <h1>
            Kolbs lärstilar: testa din inlärningsstil
        </h1>
    <br />
    
   
            @*<img class="main-image" src="/NewFolder/jess-bailey.jpg" alt="You Learning Style Image" />*@
    
        
            <p>
        David Kolb introducerade sin modell av inlärningsstilar år 1984. Baserat på denna modell utvecklade han ett inventarium över inlärningsstilar. Kolbs teori om erfarenhetsbaserat lärande presenteras på två plan: en fyrfasig lärandecykel och fyra unika inlärningsstilar. En väsentlig del av Kolbs teori fokuserar på den enskilda individens interna kognitiva processer. Kolb argumenterar för att lärande innebär förvärvandet av abstrakta begrepp, vilka kan appliceras flexibelt över en mängd olika situationer. Enligt Kolb utgörs grunden för utvecklingen av nya begrepp av våra nya erfarenheter.
            </p>

    @* <p>
        David Kolb published his learning styles model in 1984, from which he developed his learning style inventory.
        Kolb’s experiential learning theory works on two levels: a four-stage cycle of learning and four separate learning styles.
        Much of Kolb’s theory is concerned with the learner’s internal cognitive processes.
        Kolb states that learning involves the acquisition of abstract concepts that can be applied flexibly in a range of situations.
        In Kolb’s theory, the impetus for the development of new concepts is provided by new experiences.
    </p> *@

    <SurveyPrompt Title="“Learning is the process whereby knowledge is created through the transformation of experience” (Kolb, 1984, p. 38).“" />
    <br />

    

        <NavLink class="nav-link" href="Instruction">
        <button class="btn btn-primary" @*@onclick="StartTest" *@> <b>STARTA TESTET</b></button>
        </NavLink>
    
   
    
    

</div>





<style>


   /* .font-example {
        font-family: 'MentiDisplay-Regular';
    }*/

    .main-image
    {
        /*border: 1px solid black;
        padding: 10px;*/
        height: 400px;
        width: 600px;
    }

    .center-container {
        padding: 220px;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 67vh; 

        /*height: 60%;*/
        text-align: center; /* This will center-align the text horizontally */
        /*font-family: 'Sitka Display';*/
    }

    

    

</style>






@*
<footer>
    <div class="subscribe-form">

        <div class="footer-links">
            <p><a href="url">Om Oss</a>&nbsp; - &nbsp;<a href="url">Om Webbplatsen</a> &nbsp;- &nbsp;<a href="url">Referenser</a> &nbsp;- &nbsp;<a href="url">Allmänna Villkor</a> &nbsp;- &nbsp;<a href="url">Kontakta Oss</a> </p>
        </div>
        <div class="footer-links">


            
            <p style="color: black;">&nbsp; Vill du få nyheter och nya tester från oss? Prenumerera! </p>
        </div>

        <div>
            <form @onsubmit="Subscribe">
                <input type="email" placeholder="Fyll i din e-postadress" @bind="viewModel.EmailAddress" />
                <button type="submit">PRENUMERERA</button>


            </form>

        </div>

       

        <div>
            @if (emailSubmitted)
            {
                <p class="success-message">Email submitted successfully!</p>
            }
        </div>



    </div>


    
</footer>*@
