@inherits LayoutComponentBase
@inject Data.MainDbContext DbContext
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager




<PageTitle>kolb-learning-style</PageTitle>

<div class="page">

    <main>

        <div class="main-content">

      
        
        <div class="top-row px-4" style="background-color: white;">
            <a class="navbar-brand" href="/">
                <img src="NewFolder/logo.png.png" alt="My Logo" />
            </a>
            
            <NavLink class="nav-link" href="Statistic">
                <button class="btn-navi"> SE STATISTIK </button>
            </NavLink>
            
        </div>

        <article class="content px-4">
            @Body
        </article>


        </div>


        <footer>
            <div class="subscribe-form">

                <div class="footer-links">
                    <p><button class="button-footer" @onclick="ShowAboutModal">Om Oss</button> - <button class="button-footer" @onclick="ShowWebpageModal">Om Webbplatsen</button> - <button class="button-footer" @onclick="ShowReferenceModal">Referenser</button> - <button class="button-footer" @onclick="ShowPolicyModal">Allmänna Villkor</button> - <button class="button-footer" @onclick="ShowContactModal">Kontakta Oss</button> </p>
                </div>
                <div class="footer-links">


                

                </div>

                <div class="footer-text">
                    <p style="color: black;"> Vill du få nyheter och nya tester från oss? </p>
                </div>

                <div>

                    <form @onsubmit="Subscribe">

                        <input type="email" placeholder="Fyll i din e-postadress" @bind="viewModel.EmailAddress" />
                        <button type="submit">PRENUMERERA</button>


                    </form>

                </div>

                @* © Copyright 2023 by JADA. All Rights Reserved.*@

                <div>
                    @if (emailSubmitted)
                    {
                        <p class="success-message"><i class="fa-solid fa-check" style="color: #08af3a;"></i></p>
                    }
                </div>


            </div>

        </footer>


        @*About*@

        <div class="modal-width">
            <div class="modal fade " id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="aboutModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <br>
                            <p>
                                Om Oss
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Webpage*@

        <div class="modal-width">
            <div class="modal fade " id="webpageModal" tabindex="-1" role="dialog" aria-labelledby="webpageModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="webpageModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="text-align: center" class="modal-body">
                            <br>
                            <p>
                                Den här Blazor WebServer App skapad med hjälp av:
                            </p>

                            <p>
                                - Bootstrap
                               </p>

                            <p>
                                - Blazor Canvas
                            </p>

                            <p>
                                - Entity Framework
                                </p>

                            <p>
                                - Blazor Radzen
                            </p>

                            <p>
                                - Blazorise Charts
                            </p>

                           <p> 
                               - Dink To PDF
                               </p>

                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*Reference*@


        <div class="modal-width">
            <div class="modal fade " id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="referenceModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="text-align: center" class="modal-body">
                            <br>
                            <p>
                                På den här webbplatsen är all information som är hänförlig till Kolbs test hämtad från https://forvaltarforum.se/wp-content/uploads/2017/09/Kolbs-la%CC%88rstilar-ladda-ner-test.pdf (om inte annat anges). 
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @* Policy*@


        <div class="modal-width">
            <div class="modal fade " id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="policyModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <br>
                            <p>
                                Policy
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*Contact*@

        <div class="modal-width">
            <div class="modal fade " id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="contactModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="text-align: center" class="modal-body">
                            <br>
                            <p>
                                Välkommen att kontakta oss på email
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </main>
</div>

@code {

   

    private EmailAddressModel viewModel = new EmailAddressModel();
    private bool emailSubmitted = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "saveResultToDb", "False");
        }
    }

    private async Task Subscribe()
    {
        if (!string.IsNullOrWhiteSpace(viewModel.EmailAddress))
        {

            DbContext.SendList.Add(new EmailAddressModel { EmailAddress = viewModel.EmailAddress });
            await DbContext.SaveChangesAsync();


            viewModel.EmailAddress = string.Empty;

            emailSubmitted = true;
        }
    }

    private async Task ShowAboutModal()
    {

        await JSRuntime.InvokeVoidAsync("showAboutModal");
        

    }

    private async Task ShowWebpageModal()
    {

        await JSRuntime.InvokeVoidAsync("showWebpageModal");
        

    }

    private async Task ShowReferenceModal()
    {

        await JSRuntime.InvokeVoidAsync("showReferenceModal");
        

    }

    private async Task ShowPolicyModal()
    {

        await JSRuntime.InvokeVoidAsync("showPolicyModal");
        

    }

    private async Task ShowContactModal()
    {

        await JSRuntime.InvokeVoidAsync("showContactModal");
        
    }
}

<style>

    .main-content
    {
        padding-bottom: 60px; 
    }

    .button-footer
    {
        color: #333;
        border-color:transparent;
        background-color: whitesmoke;
        margin-bottom:-4px;
        margin-left: -2px;
        margin-right:-2px;
    }

        .button-footer:hover {
        text-decoration: none;
        font-weight: 400;
        color: black;
    }

    footer {
        background-color: whitesmoke;
        padding-top: 10px;
        text-align: center;
        width: 100%; 
        position: fixed;
        bottom: 0;
    }

        footer p {
            color: #333;
        }

    .footer-links {
        margin-bottom: 10px;
        margin-left: 30px;
       
    }

    .footer-text
    {
        
        margin-bottom: 10px;
        margin-right: 5px;
    }


    .subscribe-form {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        margin-top: 10px;
        text-align: justify-all;
        
    }

        .subscribe-form p {
            margin-bottom: 15px;
        }

        .subscribe-form input[type="email"] {
            padding: 3px;
            width: 210px;
            height: 25px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 5px;
            margin-bottom: 25px;
            margin-right: 3px;
        }

        .subscribe-form button[type="submit"] {
            padding: 4px 12px;
            background-color: #2ab083;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

    .success-message {
        color: green;
        margin-left: 10px;
        margin-top: -47px;
        margin-right: 20px;
    }

    a {
        color: #333;
        text-decoration: none;
        font-weight: 400;
    }

        a:hover {
            text-decoration: none;
            font-weight: 400;
            color: black;
        }


</style>
