@inherits LayoutComponentBase

<PageTitle>kolb-learning-style</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        
        <div class="top-row px-4">
            <a class="navbar-brand" href="/">
                <img src="NewFolder/logo.png.png" alt="My Logo" />
            </a>
            
            <button class="btn-navi"> Se Statistik </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
